* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inika', serif;
    position: relative;

    width: 100%;
    height: 725px;


    background: #FFECEB;
}

.header {
    width: 100%;
    position: absolute;
    height: 70px;
    background: #FFECEB;
    border-bottom: 4px solid #FFFFFF;
    align-items: center;
}

.header_inner {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.header_Home {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: none;
    text-transform: uppercase;

    color: #876D6D;
}

.header_Home:hover {
    color: #594646;
    text-decoration-line: underline;

}

.nav {
    text-transform: uppercase;

}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 26px;
    color: #876D6D;
    text-decoration: none;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 47px;

    transition: color .2s linear;
}

.nav_link:hover {
    color: #594646;
    text-decoration-line: underline;

}


/* end of header block */

.intro {

    width: 100%;
    height: 100%;
}

.Vector {
    width: 100%;
}

.git {
    box-sizing: border-box;

    position: relative;
    left: 13.4%;
    right: 71.88%;
    top: 30%;
    bottom: 18.95%;
}

.gith {
    position: relative;
    /*width: 271px;*/
    /*height: 57px;*/
    left: 28%;
    /*left: 250px;*/
    /*top: 550px;*/

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/

    color: #000000;
}

.tg {
    position: relative;
    width: 212px;
    height: 212px;
    left: 13.4%;
    right: 71.88%;
    top: 30%;
    bottom: 18.95%;
}

.tgt {

    position: relative;
    /*width: 271px;*/
    /*height: 57px;*/
    left: 20%;
    /*left: 250px;*/
    /*top: 550px;*/

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/

    color: #000000;
}

.gmail {
    position: relative;
    width: 212px;
    height: 212px;
    /*left: 1035px;*/
    left: 13.4%;
    right: 71.88%;
    top: 30%;
    bottom: 18.95%;

}

.gmailt {
    position: relative;
    /*width: 271px;*/
    /*height: 57px;*/
    left: 32%;
    /*left: 250px;*/
    /*top: 550px;*/

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/

    color: #000000;
}



